{{ partial "head" . }}
{{ partial "nav" . }}
{{ partial "jumbotron" (dict "imageUrl" "/img/about_header.jpg" "title" "Values" "text" "stuff") }}

<div class="mw7 center ph3 pt4">

  {{ partial "media-block" (dict "heading" "Hello," "text" "My name is Trevor Allen – I'm a Developer and Designer based in Washington, DC." "imageUrl" "/img/about/shade-grown.jpg") }}

  <div class="center mw6 mv6">
    <p class="center">
      I've been working for the last 4 years for agencies and startups.
      My experience is primarily with:</p>
    <ul class="center mb3">
      <li>Angular</li>
      <li>React</li>
      <li>Typescript</li>
      <li>Node</li>
      <li>PHP</li>
      <li>Java 8</li>
    </ul>

    <p class="center">I've also dabbled in Go, PHP and Python</p>
  </div>

<p class="center mw6 mv6">I have a passion for solving problems, perfecting my craft, and producing work that I am proud of. I enjoy turning ambitious ideas into reality and I hold myself to a high standard of excellence.</p>

  {{ partial "media-block" (dict "heading" "" "text" "As a dedicated lifelong learner I spend a lot of my free time teaching myself new skills and concepts. When I'm not building websites or studying I ride my bike around the beautiful DMV area, practice calligraphy and write." "text2" "Biking is a great way to commute and keeps me in shape since I spend so much time at the computer. Calligraphy and hand lettering are how I like to express myself visually, and writing is a cathartic exercise." "imageUrl" "/img/calligraphy.jpg") }}
</div>

{{ partial "footer" . }}
